招标需求提取结果
==================================================

1. [technical] 广西智慧海洋监管服务平台建设项目
   章节: 项目名称
   优先级: normal

2. [technical] 广西建设工程机电设备招标中心有限公司
   章节: 采购代理机构
   优先级: normal

3. [technical] 广西政府采购云平台（https://www.gcy.zfcg.gxzf.gov.cn/）
   章节: 获取招标文件地点
   优先级: normal

4. [technical] 广西政府采购云平台电子开标大厅
   章节: 开标地点
   优先级: normal

5. [technical] 全国公共资源交易平台（广西壮族自治区）http://ggzy.jgswj.gxzf.gov.cn/gxggzy／
   章节: 网上查询地址
   优先级: normal

6. [technical] 政府采购支持采用本国产品的政策
   章节: 政府采购政策
   优先级: normal

7. [technical] 政府采购支持监狱企业发展
   章节: 政府采购政策
   优先级: normal

8. [technical] 系统梳理广西现有海洋数据资源，包括数据名称、数据内容、数据类型、数据格式、数据存量、数据精度、密级与使用范围、获取专项名称、存储位置、责任人等基本信息，形成覆盖空、天、岸、海、潜等各领域、各层级、较为完整准确的海洋数据资源目录清单。
   章节: 技术需求.广西海洋数据资源体系.数据目录体系管理.海洋大数据资源现状梳理
   优先级: normal

9. [technical] 进一步明确各类海洋数据资源类型、来源和格式等信息，形成数据资源需求清单。
   章节: 技术需求.广西海洋数据资源体系.数据目录体系管理.海洋大数据资源需求分析
   优先级: normal

10. [business] 按照来源渠道、所属组织机构、资料特性等方面规划数据资源体系，按照海洋环境数据、基础地理与遥感数据和海洋管理数据，构建形成分类分级的自治区海洋数据资源目录体系。
   章节: 技术需求.广西海洋数据资源体系.数据目录体系管理.海洋大数据资源目录规划设计
   优先级: normal

11. [technical] 梳理各项数据资源在与国家、与沿海三市、与涉海机构、与相关平台等之间的互通共享流通渠道，实现泛海洋信息资源的互联互通和共享服务。
   章节: 技术需求.广西海洋数据资源体系.数据目录体系管理.海洋大数据资源流通布局设计
   优先级: normal

12. [business] 构建广西智慧海洋监管服务平台数据资源体系框架，用于各涉海数据来源方、需求方以及数据流通方式、数据资源体系规划、数据资源目录等的管理。
   章节: 技术需求.广西海洋数据资源体系.数据目录体系管理.海洋大数据资源体系框架
   优先级: normal

13. [business] 明确海洋数据的来源、更新频率、安全等级、共享开放属性等要素，构建海洋大数据资源目录，提供信息资源的在线编目、发布、查询、申请、审核、评价、下架的全流程管理。同时支持与广西公共数据开放平台、数据共享交换平台、东盟信息共享服务系统等数据目录联动和更新。
   章节: 技术需求.广西海洋数据资源体系.数据目录体系管理.海洋大数据资源目录管理
   优先级: normal

14. [business] 全面汇聚整合国家、自治区涉海管理部门、沿海三市、涉海科研机构及企业等来源的涉海数据。
   章节: 技术需求.广西海洋数据资源体系.数据集成服务.数据来源
   优先级: normal

15. [technical] 海洋环境数据、海洋地理信息产品、海洋专题成果数据、海洋模式模型产品、自治区层面数据类型、海洋生物生态数据类型、海洋化学数据类型。
   章节: 技术需求.广西海洋数据资源体系.数据集成服务.数据分类要求
   优先级: normal

16. [technical] 项目总体数据治理应大于等于0.6PB，大于等于400个数据集，数据总记录30亿条以上。
   章节: 技术需求.广西海洋数据资源体系.数据集成服务.验收标准
   优先级: normal

17. [business] 设计制定海洋观测数据系统、海洋资源二三维综合展示平台、涉海规划“多规融合”平台、海域使用动态监视监测管理系统、海洋经济运行监测与评估系统等5个专题涉海信息系统，以及沿海三市的海洋管理APP后台系统迁移方案。
   章节: 技术需求.广西海洋数据资源体系.数据迁移服务.迁移方案设计
   优先级: normal

18. [technical] 开展现有系统数据整理工作，包括现有系统数据字典整理、质量分析，建立现有系统与广西智慧海洋监管服务平台数据之间的映射关系。
   章节: 技术需求.广西海洋数据资源体系.数据迁移服务.数据迁移准备
   优先级: normal

19. [technical] 对迁移后的数据进行校验和质量检查。
   章节: 技术需求.广西海洋数据资源体系.数据迁移服务.数据迁移校验
   优先级: normal

20. [technical] 建设包括海洋原始库、海洋目录库、海洋综合监管库、海洋产品库等。
   章节: 技术需求.广西海洋数据资源体系.数据架构和模型管理.数据库设计
   优先级: normal

21. [business] 开展元数据接入、元数据管理、主数据管理等工作。
   章节: 技术需求.广西海洋数据资源体系.数据架构和模型管理.数据模型管理
   优先级: normal

22. [business] 开展广西智慧海洋监管服务平台数据库实体建设和数据配套研发，实现海洋数据的集中存储和统一管理。
   章节: 技术需求.广西海洋数据资源体系.数据架构和模型管理.数据库管理
   优先级: normal

23. [technical] 开展数据库加载更新，实现项目从国家海洋大数据中心、自治区数据共享交换平台、自治区生态环境厅等涉海部门、广西沿海三市涉海部门，以及涉海科研机构企业等汇集到的数据资源的统一智能抽取、系统校验和并行更新。
   章节: 技术需求.广西海洋数据资源体系.数据架构和模型管理.数据加载更新
   优先级: normal

24. [business] 建立广西海洋大数据标准体系，规范指导数据资源汇集管理、平台工具建设、应用信息服务、运营服务及运维保障等方面工作。
   章节: 技术需求.海洋大数据治理平台.标准规范建设
   优先级: normal

25. [technical] 开展数据标准化处理、质量控制、检验评估等处理整合工作。
   章节: 技术需求.海洋大数据治理平台.海洋大数据处理整合
   优先级: normal

26. [technical] 基于汇集的海洋数据资源，通过基于规则的ETL 技术和机器学习技术，建立海洋大数据智能融合系统。
   章节: 技术需求.海洋大数据治理平台.海洋大数据智能融合
   优先级: normal

27. [technical] 开展海洋通用产品、智慧海洋专题应用产品制作。
   章节: 技术需求.海洋大数据治理平台.海洋大数据产品研制
   优先级: normal

28. [business] 构建大模型数据前处理管理模型，并进行功能细化。
   章节: 技术需求.海洋大数据治理平台.海洋环境认知大模型
   优先级: normal

29. [business] 运用深度学习、冲突检测等技术方法，从海洋领域业务数据库、文献和其他泛在文本、图片、视频等多源多模态数据源中自动化抽取数据实体、关系和属性。
   章节: 技术需求.海洋大数据治理平台.海洋大数据知识挖掘
   优先级: normal

30. [business] 开展数据安全管理，贯穿数据治理全过程。
   章节: 技术需求.海洋大数据治理平台.海洋大数据安全治理
   优先级: normal

31. [business] 规划广西智慧海洋监管服务平台可共享数据资源，开展共享接口管理系统建设。
   章节: 技术需求.海洋大数据治理平台.海洋大数据共享服务
   优先级: normal

32. [business] 搭建统一的海洋应用整合集成框架，为广西现有主要海洋业务系统整合集成和一张图构建提供统一、基础、通用的核心整合集成相关组件支撑。
   章节: 技术需求.定制化应用支撑平台.海洋应用整合集成框架
   优先级: normal

33. [business] 通过开展海洋数字孪生应用支撑系统建设，将传统、具有三维特征的海洋数据和业务迁移到三维平台中。
   章节: 技术需求.定制化应用支撑平台.海洋数字孪生应用支撑系统
   优先级: normal

34. [technical] 引入区块链的智能合约、数字签名、安全沙箱等技术，并与“桂链”实现跨链对接。
   章节: 技术需求.定制化应用支撑平台.海洋数据资源可信流转支撑系统
   优先级: normal

35. [functional] 实现广西海洋生态修复项目、海洋灾害事件、海洋生态红线、海洋工程、海洋污染事件、海上执法事件、海洋经济发展、海洋空间规划、海洋资源统计等各项数据信息基于一个界面的图表、趋势展示。
   章节: 技术需求.广西智慧海洋应用.智能驾驶舱系统
   优先级: normal

36. [technical] 以国土空间规划、海岸带专项规划等空间规划为基础，基于广西涉海综合数据，利用GIS、大数据、人工智能、深度学习等技术，建设海域空间用途管制决策支持系统。
   章节: 技术需求.广西智慧海洋应用.海洋空间规划大数据决策支持系统
   优先级: normal

37. [technical] 围绕用海用岛要素保障以及监管需求，基于广西涉海规划数据、用海现状数据、典型生态系统分布数据、生态红线数据，利用新一代信息技术，建设用海用岛保障应用系统。
   章节: 技术需求.广西智慧海洋应用.用海用岛保障应用系统
   优先级: normal

38. [business] 针对广西岸线、滩涂、湿地、海湾、地形、底质、海岛、油气、矿产、渔业、生态等海洋资源调查和管理的需求，建设海洋资源综合管理与决策分析系统。
   章节: 技术需求.广西智慧海洋应用.海洋资源综合管理与决策分析系统
   优先级: normal

